*{
    width: 100vw;
    height: 100vh;
    top: -1468px;
    left: -910px;
    gap: 0px;
    border-radius: 28px 28px 28px 28px;
    opacity: 0px;
    background: linear-gradient(180deg, #373E44 -100%, #191B1F 100%);
  
  }

  /* body {
    overflow-x: hidden;
    overflow-y: hidden;
  }
   */